.block-2{
    display: flex;
    margin: 0 5% 0 5%;
}

.block-2-content1{
    width: 50%;
    margin-right: 60px;
}

.block-2-content1-1{
    border-bottom: 1px solid gray;
}

.block-2-content1-1-img section:nth-child(2){
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 21px;

}

.block-2-content1-1-img img{
    width: 70%;
    height: 100%;
}

.block-2-content1-1-img a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2351F5;
    width: 164.044px;
    height: 48px;
    margin-right: 20px;
}

.block-2-content1-1-text p:first-child{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 32px;
}

.block-2-content1-1-text p:nth-child(2){
    font-size: 17px;
    font-weight: 400;
    line-height: 207.8%;
    margin-bottom: 45px;
}

.block-2-content1-1-text p:nth-child(3){
    font-size: 17px;
    font-weight: 400;
    line-height: 207.8%;
    margin-bottom: 90px;
}

.block-2-content1-2{
    margin-top: 90px;
}

.block-2-content1-2-img img{
    width: 70%;
    height: 100%;
}

.block-2-content1-2-img section:nth-child(2){
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 21px;

}

.block-2-content1-2-img a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2351F5;
    width: 164.044px;
    height: 48px;
    margin-right: 20px;
}

.block-2-content1-2-text p:first-child{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 32px;
}

.block-2-content1-2-text p:nth-child(2){
    font-size: 17px;
    font-weight: 400;
    line-height: 207.8%;
    margin-bottom: 45px;
}

.block-2-content1-2-text p:nth-child(3){
    font-size: 17px;
    font-weight: 400;
    line-height: 207.8%;
    margin-bottom: 90px;
}




.block-2-content2{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.block-2-content-2-1,
.block-2-content-2-2,
.block-2-content-2-3,
.block-2-content-2-4,
.block-2-content-2-5,
.block-2-content-2-6,
.block-2-content-2-7{
    display: flex;
    margin-bottom: 40px;

}

.block-2-content1-img{
    margin-right: 20px;
}

.block-2-content1-img img{
    width: 100%;
}

.block-2-content2-2-text1 section,
.block-2-content2-2-text2 section,
.block-2-content2-2-text3 section,
.block-2-content2-2-text4 section,
.block-2-content2-2-text5 section,
.block-2-content2-2-text6 section,
.block-2-content2-2-text7 section{
    display: flex;
    margin-bottom: 20px;
}

.block-2-content2-2-text1  p,
.block-2-content2-2-text2  p,
.block-2-content2-2-text3  p,
.block-2-content2-2-text4  p,
.block-2-content2-2-text5  p,
.block-2-content2-2-text6  p,
.block-2-content2-2-text7  p{
    font-size: 23px;
    font-weight: 600;
}

.block-2-content2-2-text1 section p,
.block-2-content2-2-text2 section p,
.block-2-content2-2-text3 section p,
.block-2-content2-2-text4 section p,
.block-2-content2-2-text5 section p,
.block-2-content2-2-text6 section p,
.block-2-content2-2-text7 section p{
    font-size: 14px;
    font-weight: 400;
    line-height: 187.5%;
}

.block-2-content2-2-text1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.974px;
    height: 39.896px;
    background-color: #FF8484;
}

.block-2-content2-2-text2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.974px;
    height: 39.896px;
    background-color: #2351F5;
}

.block-2-content2-2-text3 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.974px;
    height: 39.896px;
    background-color: #FF7C32;
}

.block-2-content2-2-text4 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.974px;
    height: 39.896px;
    background-color: #2351F5;
}

.block-2-content2-2-text5 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.974px;
    height: 39.896px;
    background-color: #23A54F;
}

.block-2-content2-2-text6 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.974px;
    height: 39.896px;
    background-color: #2351F5;
}

.block-2-content2-2-text7 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.974px;
    height: 39.896px;
    background-color: #9921C3;
}